/* .footer{
    background-color: gray;
        bottom: 0;
        display: flex;
        width: 100%;
        padding: 4px;
        justify-content: space-around;
        margin-bottom: 0;
        align-content: space-around;
        align-items: stretch;
    
} */