.main-homepage {
    width: 100%;
    height: calc(100vh - 56px);
    background-image: url("https://wallpaperaccess.com/full/7006038.jpg");
    background-size: contain;
    background-size: cover;
    margin: 0;
}

.main-content {
    width: 100%;
    height: calc(100vh - 330px);
    margin: 0;
}

.homepage-footer .footer-item > a:hover{
    color: rgb(213, 3, 3);
}

.homepage-footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
}